*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.container{
    display: flex;
    justify-content: center;
    margin-top: 100px;
}
.card{
    height: auto;
    width: 200px;
   background-color: azure;
   margin: 10px;
   border-radius: 10px;
   box-shadow: 2px 2px 10px black;
   overflow: hidden;
   text-align: center;
}
.image{
    /* background-color: aqua; */
    /* height: 100px; */
    border-radius: 15px 15px ;

}
.image img{
    width: 200px;
    
}
body{
    background:skyblue;
}
button{
    background-color: beige;
    color: black;
}